.root {
    padding: var(--space-2);
    display: flex;
    justify-content: space-between;
}

.input {
    background: var(--white);
    height: 2em;
    box-shadow: 0px 4px 6px 2px rgba(130,130,130,0.2);
    width: fit-content;
    height: auto;
    border-radius: 4px;
}

.input :is(svg) {
    width: 1.4em;
    margin: 0 0 0 1em;
    color: var(--dark-gray);
}

.input :is(input) {
    width: 30em;
    height: 3em;
    margin: 0 0 0 1em;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-weight: var(--font-regular);
    border-radius: 4px;
}

label {
    display: flex;
}