@import url('./assets/css/flex.css');
@import url('./assets/css/text.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;800&display=swap');

:root {
  --layout-mobile: 375px;
  --layout-desktop: 1440px;
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue-lite: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --font-light: 300;
  --font-regular: 600;
  --font-bold: 800;
  --nunito: 'Nunito', sans-serif;
  --space-0: 14px;
  --space-1: 1em;
  --space-2: 2em;
}

body {
  margin: 0;
  font-family: var(--nunito)
}

.app {
  background: var(--very-light-gray);
}

.elevation {
  box-shadow: 0px 4px 6px 2px rgba(130,130,130,0.2);
}

.rounded {
  border-radius: 4px;
}

.border-0 {
  border: none;
}

.bg-white {
  background: var(--white);
}